.featureImgL__Container{    
    border-radius: 21px 21px 0 0;
    padding: 48px 122px 48px 122px;    
}
.featureImgL__Badge{
    border-style: solid;
    text-align: center;
    border-radius: 50px;
    border-width: 2px;
    border-color: #263A97;
    width: max-content;
    padding: 5px 29px 5px 29px;
    font-size: 14px;
    font-weight: 600;
    color: #263A97;
}
.featureImgL__Title{
    text-align: left;
    font-size: 42px;
    font-weight: 700;
    color: #000;
    font-family: 'Creato Display', sans-serif;
    line-height: 40px;
}
.featureImgL__Subtitle{
    text-align: left;
    font-size: 18px;
    color: #000;
    font-weight: 400;
}
.featureImgL__Img{
    max-width: 100%;        
    max-height: 100%;
    min-width: 70%;
    min-height: 70%;    
}

@media screen and (max-width: 1200px) {
    .featureImgL__Container{        
        padding: 30px;    
    }
}

@media screen and (max-width: 576px) {
    .featureImgL__Container{        
        padding: 10px;    
    }
    .featureImgL__Img{
        
        margin-right: 0;    
    }
}