.heroNoImage__Container{
    background-color: #fff;
    background-image: url("../../assets/Hero Gradient Background.png");
    background-size: cover;
    margin: 0;
    padding: 186px 349px 108px 349px;
    gap: 10px;    
}

.heroKicker{
    text-align: center;
    font-size: 18px;
    color: #58FAA8;
    font-weight: 400;
}
.heroTitle{
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    color: #fff;
    font-family: 'Creato Display', sans-serif;
    line-height: 65px;    
}
.heroSubtitle{
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    margin: 0;
}
.heroButton{
    margin-top: 50px;
    text-align: center;
}



@media screen and (max-width: 1200px) {
    .heroNoImage__Container{        
        padding: 86px 149px 58px 149px;
    }
    
}
@media screen and (max-width: 576px) {
    .heroNoImage__Container{        
        padding: 30px;        
    }
    .heroTitle{    
        font-size: 30px;        
    }
    .heroSubtitle{
        font-size: 15px;     
    }
}

