
.blueBtnNav{
    background-color: #263A97;
    color: #fff;
    padding: 3px 14px 3px 14px;
    border: solid 1px #263A97;
    border-radius: 3px;
    font-weight: 600;
    width: max-content;    
    transition: all 0.3s ease-in-out;     
}
.blueBtnNav p {
    display: flex;
    align-items: center;
}

.blueBtnNav__Icon {
    margin-left: 5px; 
    transition: transform 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out;
}

.blueBtnNav:hover {
    padding-right: 17px;     
}

.blueBtnNav:hover .blueBtnNav__Icon {    
    margin-left: 15px;
}