.cardBtn{
    background-color: #fff;
    color: #263A97;
    border-style: solid;
    border-width: 2px;
    border-color: #263A97;
    padding: 8px 17px 8px 17px;
    border-radius: 7px;
    font-weight: 600;        
}
.cardIcon{
    font-weight: 600;
    font-size: 18px;
}

.cardBtn p {
    display: flex;
    align-items: center;
}

.cardIcon {
    font-weight: 600;
    font-size: 18px;
    margin-left: 5px; 
    transition: transform 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out;
}

.cardBtn:hover {
    padding-right: 17px;     
}

.cardBtn:hover .cardIcon {    
    margin-left: 15px;
}