.cardBtn{
    background-color: #fff;
    color: #263A97;
    border-style: solid;
    border-width: 2px;
    border-color: #263A97;
    padding: 8px 17px 8px 17px;
    border-radius: 7px;
    font-weight: 600;        
}
