.heroBtn{
    font-size: 18px;
    font-weight: 700;
    padding: 14px 17px 14px 17px;
    text-align: center;
    line-height: 22px;
    color: #263A97;
    border-style: none;
    border-radius: 7px;
    background-color: #fff;
    transition: all 0.3s ease-in-out; 
}
.heroBtn__Icon{
    margin-left: 5px; 
    transition: transform 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out;
}

.heroBtn:hover {
    padding-right: 17px;     
}

.heroBtn:hover .heroBtn__Icon {    
    margin-left: 15px;
}
