.serviceCard__Container{ 
 margin: 15px;
 padding: 10px 30px; 
 gap: 17px;
}
.serviceCardTitle{
    font-family: 'Creato Display', sans-serif;
    font-size: 32px;
    font-weight: 700;
}
.serviceCardText{
    font-size: 16px;
    font-weight: 300;
}

.serviceCardImg{    
    width: 70%;
    background-color: rgba(28, 151, 176, 1);
    object-fit: cover;
}

.serviceCardImg__Container{
    background-color: rgba(28, 151, 176, 1);
    height: 72px;
    width: 72px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
}