.featureImgR__Container{
    background: linear-gradient(#3c66ff38, #3c66ff00);
    border-radius: 21px 21px 0 0;
    padding: 48px 94px 48px 94px;
}
.featureImgR__Title{
    border-style: solid;
    text-align: center;
    border-radius: 50px;
    border-width: 1px;
    border-color: #263A97;
    width: max-content;
    padding: 2px 29px 2px 29px;
    font-size: 14px;
    color: #263A97;
}
.featureImgR__Tag{
    text-align: left;
    font-size: 42px;
    font-weight: 700;
    color: #000;
    font-family: 'Creato Display', sans-serif;
}
.featureImgR__Subtitle{
    text-align: left;
    font-size: 18px;
    color: #000;
    font-weight: 400;
}