.card{
    margin: 10px;
    border-color: rgba(198, 211, 255, 0.4);
    border-width: 4px;
    border-radius: 12px;
    padding: 0;
}
.blogCard__Badge{
    border-style: solid;
    text-align: center;
    border-radius: 50px;
    border-width: 1px;
    border-color: #263A97;
    width: max-content;
    padding: 2px 29px 2px 29px;
    font-size: 14px;
    color: #263A97;    
}
.card-title{
    font-family: 'Creato Display', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #263A97;    
}
.blogCard__Minexus{
    font-size: 14px;
    font-weight: 600;
    margin: 0;   
    line-height: 24px; 
}
.bi-chevron-right{
    color: #263A97;    
}
.blogCard__Link{
    color: #263A97;
    font-weight: 600;
    font-size: 14px;
    text-align: right;
}
.card-body{
    padding: 30px 20px;
}