.serviceFeatureCenter__Container{
    padding: 47px 70px 47px 70px;
}
.serviceFeature__Badge{
    border-style: solid;
    text-align: center;
    border-radius: 50px;
    border-width: 1px;
    border-color: #263A97;
    width: max-content;
    padding: 2px 29px 2px 29px;
    font-size: 14px;
    color: #263A97;
}
.serviceFeature__Img{
    max-width: 90%;
}

.serviceFeature__Title{
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: #000;
    font-family: 'Creato Display', sans-serif;
    line-height: 40px;
    margin-top: 30px;
}
.serviceFeature__Subtitle{
    text-align: center;
    font-size: 18px;
    color: #000;
    font-weight: 400;
    line-height: 22px;
}