.cataloging__ServiceCards-Container{
    padding: 25px 5px 87px 5px;
    /* gap: 10px; */
}
.cataloging__FeaturesContainer{
    width: 1200px;
}
@media (max-width: 992px) {
    .cataloging__FeaturesContainer{
        width: 100%;
    }
}
@media (max-width: 576px) {
    .cataloging__ServiceCards-Container{
        padding: 10px;
        gap: 10px;
    }    
    .cataloging__FeaturesContainer{
        padding: 0;
    }
}