.homeCards__Container{
    margin-top: -30px;
    padding: 0 300px 25px 300px;
}
.home__FeaturesContainer{
    padding: 25px 300px 25px 300px;
}

@media (max-width: 576px) {
    .homeCards__Container{
        margin-top: 20px;        
        padding: 0;
    }   
    .home__FeaturesContainer{
        padding: 0;
    }
}