.navbar__Btn{
    color: #373737;
    font-size: 18px;
    font-weight: 600;
}
.navbar__dropdown{
    border: 0;
    border-radius: 0;
    padding: 0 5px;
}
.navbar__BlueBtn{
    background-color: #263A97;
    color: #fff;
    padding: 0 14px 0 14px;
    border-radius: 3px;
    font-weight: 600;
    width: max-content;
    gap: 10px;    
}

.navbar__line{
    background-color: #263A97;
    color: #263A97;
}
