.navbar__Container{
    background-color: #fff;
}
.navbar__Btn{
    color: #373737;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
}
.navbar__Btn:hover{
    border-bottom: solid 2px #373737;
}
.navbar__dropdown{
    border: 0;
    border-radius: 0;
    padding: 0 5px;
}
.btn__Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar__LgBtn{
    color: #263A97;
    font-weight: 600;
}


/* Separar botones en 2 contenedores */

.navbar__line{
    background-color: #263A97;
    color: #263A97;
}
