.partnersSection__MainContainer{
    padding: 25px 70px 25px 70px;
}
.partnerSection__Badge{
    border-style: solid;
    text-align: center;
    border-radius: 50px;
    border-width: 2px;
    border-color: #263A97;
    width: max-content;
    padding: 2px 29px 2px 29px;
    font-size: 14px;
    color: #263A97;
}
.partnerSection__Title{
    text-align: left;
    font-size: 42px;
    font-weight: 700;
    color: #000;
    font-family: 'Creato Display', sans-serif;
    margin-top: 20px;
}
.partnerSection__Text{
    text-align: left;
    font-size: 18px;
    color: #000;
    font-weight: 400;
}
.partnerSection__Image{
    max-height: 50%;
    margin: 15px;
}

@media (max-width: 1200px) {
    .partnerSection__Image{
        max-height: 20%;
        width: 20%;
        margin: 15px;
    }    
}

@media (max-width: 576px) {
    .caseStudy__MainContaidner{
        display: none;
    }
}