
/* START TODAY SECTION */
.startToday__Container{
    background-color: #1C97B0;    
    padding: 90px 182px 90px 182px;
    margin: 0;
}
.startToday__TextContainer{
    padding: 0 80px 0 180px;
}

.startToday__Title{
    font-family: 'Creato Display', sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
}
.startToday__Text{
    font-size: 18px;
    font-weight: 300;
    color: #fff;    
}
.startToday__Image{
    margin-right: -182px;
    margin-bottom: -90px;
    width: 100%;
    height: auto;
}
.footer__SiteLinks-List{
    margin-top: 22px;
}
/* Bitrix Form */
.b24-form-wrapper{
    background-image: linear-gradient(90deg, #183A5E 0%, #183A5E 100%) !important;
    color: #fff !important;      
  }
.b24-form-header-title, .b24-form-header-description, .b24-form-sign-abuse-link{
    color: #fff !important;
}
.b24-form-field{
    background-color: #fff;
    border-radius: 1px;
}
.b24-form-btn{
    background-color: #263A97 !important;
}
@media (max-width: 1140px) {
    .startToday__Container{        
        padding: 30px;
    }
    .startToday__TextContainer{
        padding: 20px;
    }     
    .startToday__Image{
        margin-right: -40px;
        margin-bottom: -30px;
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 576px) {
    .startToday__Container{
        padding: 90px 50px 90px 50px;
        margin: 0;
    }
    .startToday__Image{
        display: none;        
    }
    .startToday__TextContainer{
        padding: 0;
    }
    .startToday__Text{    
        padding-right: 0;
    }   
}

/* FOOTER SECTION */

.footer__Container{
    background-color: #183A5E;
    padding: 23px 44px 25px 44px;
    margin: 0;
}

.footer__Title{
    font-family: 'Creato Display', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

.footer__ContactInfo-Container{
    padding: 35px 21px 35px 21px;
    
}
.footer__ContactInfo-List, .footer__SiteLinks-List{
    padding: 0;
}
.footer__ContactInfo{
    font-size: 14px;
    font-weight: 600;
    color: #fff;    
    margin-top: 10px;
}
.footer__ContactInfo-Icon{
    margin-right: 10px;
}
.footer__ContactInfo-Image{
    width: 10%;
}
.footer__SiteLinks-Container{
    padding: 35px 52px 48px 52px;
    border-style: solid;
    border-color: #009D5F;
    border-width: 0 3px 0 3px;
}
.footer__SiteLinks{
    text-decoration: none;    
}
.footer__SiteLinks-Line{   
   color: #878787;
}

.footer__ContactForm-Container{
    padding: 35px 21px 63px 21px;    
}
.footer__Copyright-Link{
    color: #E9E9E9 !important;
    font-size: 18px;
    font-weight: 300;
}
.footer__Copyright-Separator{
    border-left: 2px solid #fff;
    margin: 0 15px;
}
@media (max-width: 1140px) {          
    .footer__Copyright-Link{
        text-align: center;
    }   
    
}
@media screen and (max-width: 576px) {
    .footer__SiteLinks-Container{        
        border-style: none;        
    }
}