.featureImgLGreen__Container{
    background: linear-gradient(#53E79C38, #53E79C00);
    border-radius: 21px 21px 0 0;
    padding: 48px 122px 48px 122px;
}
.featureImgLGreen__Badge{
    border-style: solid;
    text-align: center;
    border-radius: 50px;
    border-width: 2px;
    border-color: #263A97;
    width: max-content;
    padding: 5px 29px 5px 29px;
    font-size: 14px;
    font-weight: 600;
    color: #263A97;
}
.featureImgLGreen__Title{
    text-align: left;
    font-size: 42px;
    font-weight: 700;
    color: #000;
    font-family: 'Creato Display', sans-serif;
    margin-top: 20px;
    line-height: 40px;
}
.featureImgLGreen__Subtitle{
    text-align: left;
    font-size: 18px;
    color: #000;
    font-weight: 400;
}
.featureImgLGreen__Img{
    width: 100%;
    min-width: 50%;
    height: auto;
}
@media screen and (max-width: 576px) {
    .featureImgLGreen__Img{
        width: 100%;
    }
}
