
.caseStudy__ContentContainer{
    padding: 0 40px 0 40px;
}
.caseStudy__Badge{
    border-style: solid;
    text-align: center;
    border-radius: 50px;
    border-width: 2px;
    border-color: #263A97;
    width: max-content;
    padding: 5px 29px 5px 29px;
    font-size: 14px;
    font-weight: 600;
    color: #263A97;
}
.caseStudy__Logo{
    max-width: 35%;
    margin: 20px 0;
}
.caseStudy__Title{
 font-size: 32px;   
 font-weight: 700;
 color: #000;
 font-family: 'Creato Display', sans-serif;
 line-height: 40px;
}

.caseStudy__Text{
    font-size: 16px;
    font-weight: 300;
}

.carousel-control-prev, .carousel-control-next{
    filter: invert(.5);
    width: 2rem;
    margin: -40px;
}

@media (max-width: 1024px) {
    .carousel-control-prev, .carousel-control-next{        
        margin: 0;
        margin: -40px;        
    }
}
@media (max-width: 960px) {    
    .caseStudy__MainContaidner{
        margin: 0;
        padding: 20px;
    }    
}
@media (max-width: 576px) {
    .caseStudy__MainContaidner{
        display: none;
    }
}